<div class="p-2 bg-gray rounded">
    <img class="d-block rounded w-100" style="height: 150px;" src="/images/background.png" alt="background" srcset="">

    <div class="mt-3 d-flex flex-row align-items-center justify-content-between">
        <div class="d-flex flex-row align-items-center gap-2">
            <img class="rounded" src="/images/author.png" style="width: 75px; height: 75px;" alt="avatar" srcset="">
            <p class="m-0">James</p>
        </div>

        <div>
            <nav class="nav fw-bold">
                <a asp-area="" asp-controller="Profile" asp-action="Index" class="nav-link text-black" >Marked</a>
                <a asp-area="" asp-controller="Profile" asp-action="SendPost" class="nav-link text-black">Send Post</a>
                <a class="nav-link text-black" href="#">Post</a>
            </nav>
        </div>

        <div>
            <p class="m-0" >Edit Profile</p>
        </div>
    </div>
</div>